$base-font-size: 14px;

$primary: #32BCA3;
$secondary: #121212;
$white: #ffffff;
$red: #ed3024;
$blue: #3147c9;
$black: #000000;
$light: #D2D2D2;
$main: #1C1C1C;

$big-bp: 1432px;
$maxLarge-bp: 1300px;
$large-bp: 1192px;
$wide-bp: 1095px;
$tablet-bp: 991px;
$middle-bp: 840px;
$mobile-bp: 740px;
$slider-bp: 580px;
$small-bp: 500px;
$little-bp: 440px;
$wee-bp: 340px;