.authors__img {
	max-width: 100%;
	height: auto;
}
.authors__block {
	position: absolute;
	top: 100px;
	display: flex;
	justify-content: start;
	max-width: 1192px;
	@include breakpoint($tablet-bp) {
		top: 70px;
	}
	@include breakpoint($mobile-bp) {
		top: 50px;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.authors__left {
	max-width: 46%;
	margin-right: 64px;
	@include breakpoint($tablet-bp) {
		margin-right: 30px;
	}
	@include breakpoint($mobile-bp) {
		max-width: 100%;
		margin-left: 20px;
		padding-bottom: 30px;
	}
}
.authors__left-desc {
	font-family: 'Plus Jakarta Sans';
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: $primary;
	position: relative;
	padding-left: 36px;
	margin-bottom: 8px;

	&::before {
		content: "";
		display: block;
		width: 34px;
		height: 2px;
		background-color: $primary;
		position: absolute;
		top: 10px;
		left: 0;
		z-index: 110;
	}
}
.authors__left-title {
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 52px;
	line-height: 110%;
	color: #F9F9F9;
	margin-bottom: 24px;
	@include breakpoint($tablet-bp) {
		font-style: 46px;
	}
}
.authors__left-txt {
	font-family: 'Plus Jakarta Sans';
	font-weight: 400;
	font-size: 18px;
	line-height: 135%;
	color: #E0E0E0;
	margin-bottom: 48px;
	@include breakpoint($tablet-bp) {
		font-style: 14px;
		margin-bottom: 30px;
	}
}
.authors__left-btn {
	padding: 16px 32px;
	border: 1px solid #32BCA3;
	border-radius: 1000px;
	background-color: transparent;
	font-family: 'Plus Jakarta Sans';
	font-size: 16px;
	line-height: 150%;
	color: $primary;
	@include breakpoint($mobile-bp) {
		display: block;
		margin: 0 auto;
	}
}
.authors__left-btn:hover {
	background-color: $primary;
	color: $white;
}
.authors__right {
	max-width: 48.7%;
	padding-right: 20px;
	@include breakpoint($mobile-bp) {
		max-width: 100%;
	}
}
.authors__right-block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 16px 0px 0px 0px;
}
.authors__one {
	border-radius: 16px 0px 0px 0px;
}
.authors__two {
	border-radius: 0 16px 0 0;
}
.authors__five {
	border-radius: 0 0 0 16px;
}
.authors__six {
	border-radius: 0 0 16px 0;
}
.authors__right-card {
	width: 50%;
	padding-top: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #252525;
	border: 1px solid #515151;
	@include breakpoint($tablet-bp) {
		padding-top: 30px;
	}
}
.authors__right-card--img {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	@include breakpoint($tablet-bp) {
		width: 80px;
		height: 80px;
	}
}
.authors__right-card--name {
	font-family: 'Plus Jakarta Sans';
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	color: #F9F9F9;
	margin-bottom: 16px;
	@include breakpoint($tablet-bp) {
		font-size: 18px;
		margin-bottom: 12px;
	}
}
.authors__right-card--num {
	font-family: 'Plus Jakarta Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 155%;
	color: #E0E0E0;
	margin-bottom: 16px;
	@include breakpoint($tablet-bp) {
		margin-bottom: 12px;
	}
}
.authors__right-card--price {
	font-family: 'Plus Jakarta Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 155%;
	color: #E0E0E0;
	margin-bottom: 16px;
}
.authors__right-card--price span {
	font-family: 'Open Sans';
	font-weight: 500;
	font-size: 32px;
	line-height: 120%;
	color: #F9F9F9;
	@include breakpoint($tablet-bp) {
		font-size: 24px;
	}
}
.authors__right-card--btn {
	display: flex;
	padding: 4px 12px;
	background-color: transparent;
	border: 1px solid $primary;
	border-radius: 100px;
	margin-bottom: 48px;
	@include breakpoint($tablet-bp) {
		margin-bottom: 30px;
	}
}
.authors__right-card--btn p {
	font-family: 'Plus Jakarta Sans';
	margin-left: 8px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $primary;
}